.left {
	text-align: left;
}

.inline-form {
}

.inline-form .wrapper {
  float: left;
  width: 100%;
}

.inline-form .wrapper .content {
  margin: 0 140px 0 150px;  /* 0 RC 0 LC */
}

.inline-form .left {
  float: left;
  width: 92px; /* LC */
  margin-left: -100%;
}

.inline-form .text {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: block;
  font-size: 16px;
}

.inline-form .right {
  float: left;
  width: 120px; /* RC */
  margin-left: -120px; /* -RC */
}

.inline-form .footer{
  clear: left;
}

.fixedFooter {
position: fixed !important;
left: 0px !important;
right: 0px !important;
bottom: 0px !important;
z-index: 999 !important;
}

fieldset {
    border: 0;
    background-color: #fff;
}
fieldset .radio-button {
    display: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
}

fieldset .SelectLabel {
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: #CCC;
    padding-top: 10px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
input[type="radio"]:checked+label { 
    
    background-color: #e9612c;
} 

input, textarea, select {
   -webkit-appearance: none;
 }

 select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 80%;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;

     padding: 0.5em 1em 0.5em 0.75em;
     background: #444;
   }

 select::-ms-expand {
    display: none;
}